@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukRadios: GovukRadios,
    govukButton: GovukButton,
    continueButton: components.ContinueButton
)

@(form: Form[_], mode: Mode, period: Period, startEndDate: String)(implicit request: Request[_], messages: Messages)

@contentText = {
<p class="govuk-body">
    <a class="govuk-link" href="https://www.gov.uk/tax-foreign-income/non-domiciled-residents" rel="noreferrer noopener" target="_blank">
        @messages("hasReliefClaimedOnOverseasPension.message1") <span class="govuk-visually-hidden">@messages("site.opensInNewTab")</span>
    </a>
</p>
}

@layout(pageTitle = title(form, messages("hasReliefClaimedOnOverseasPension.title", startEndDate))) {

    @formHelper(action = controllers.annualallowance.taxyear.routes.HasReliefClaimedOnOverseasPensionController.onSubmit(mode, period), 'autoComplete -> "off") {

        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        @govukRadios(
            RadiosViewModel.yesNo(
                field = form("value"),
                legend = HmrcPageHeadingLegend(
                    content = messages("hasReliefClaimedOnOverseasPension.heading", startEndDate),
                    caption = HmrcSectionCaption(messages("annualAllowance.adjustedIncome.caption"))
                )
            ).withHint(HintViewModel(HtmlContent(contentHint)))
        )

        @govukRadios(
                    RadiosViewModel.yesNo(
                        field = form("value"),
                        legend = LegendViewModel(HtmlContent(contentText))
                    ))

        @continueButton()
    }
}
